body{
    padding:0;
    margin:0;
}
html {
    scroll-behavior: smooth;
  }

.headroom {
    transition: transform .6s ease;
    transition: background-color 1s ease;
}

.headroom--top{
    transform: translateY(0);
}

.headroom--not-top{
    background-color: rgba(0, 0, 0, 0.9);
}

.container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content:center;
    align-items:center;
}
.caja{
    text-align: center;
    margin:0;
    padding:0;
    width:45%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.caja{
    opacity:0;
    transition:all 0.5s;
    width:100%;
    
}
.perri{
    position:absolute;
    margin:0;
}
.mostrar{
    animation: mostrar 1s;
}

@keyframes mostrar{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
    }
}
.desaparecer{
    
    transform: translate(-200px,-360px);
    transition: 0.6s;
    z-index: 1;
}
.aparecer{
    transform: translate(0px,0px);
    transition: 0.4s;
    z-index: 1;
}
.menu{
    width: 200px;
    z-index: 6;
    position: fixed;
    height:350px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
}
.bar{
    position:absolute;
    left:23px;
    top:15px;
    font-size:30px;
    color: blanchedalmond;
}
.cruz{
    color: blanchedalmond;
    font-size:25px;
    left:85%;
    top: 10px;
    position: absolute;
    
}
.bar:hover{
    color: #cefe1a;
}
.cruz:hover{
    color: #cefe1a;
}
header{
    width: 100%;
    height: 60px;
    position: relative;
    position: fixed;
    background: transparent;
    z-index:5;
}
.logo{
    position:absolute;
    top:15px;
    right:23px;
}
.logo p{
    margin:0;
    color:#f5f5f5;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}
.title::after {
    content: "/>";
    color: #cefe1a;
    font-family: "Poppins", sans-serif;
}
.title::before {
    content: "<";
    color: #cefe1a;
    font-family: "Poppins", sans-serif;
}
main{
    padding-top: 30px;
    background-color:#040402;
}
article{
    background-image:url(../img.jpg);
    
    height: 1000px;
    width:100%;
    background-attachment: fixed;
    background-size: cover;
    z-index:-1;
    position:absolute;
    top:0;
    
    
}
section{
    position:relative;
    height:520px;
    background-color: rgb(0, 0, 0, 0.7);
    padding-top: 50px;
    color: #f5f5f5;
}
.nav li{
    color: #f5f5f5;
    list-style: none;
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
    font-size:25px;
}
.nav li a{
    text-decoration:none;
    color: #f5f5f5;
}
.nav li a:hover{
    color: #cefe1a;
    
}
.nav{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 20px;
}
.principal{
    width: 100%;
    display: flex;
    justify-content:center;
}
.perfil{
    height: 270px;
    width: 250px;
    border-radius:100%;
    margin-top:34px;
    background-color:black;
}
.perfil img{
    height: 100%;
    width: 100%;
    border-radius:100%;
    background:rgba(50, 50, 50,)!important;
    background-blend-mode: soft-light;
    filter:grayscale(100%);
    opacity:0.5;
}
.perfil img:hover{
    filter:none;
    opacity:0.7;
}
.hola{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size:26px;
    margin: 0;
    margin-top: 35px;
}
.nombre{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size:30px;
    color: #cefe1a;
    margin: 0;
}
.desarrollador{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size:26px;
    color: #f5f5f5;
    margin: 0;
}
.stack{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size:30px;
    color: #cefe1a;
    margin: 0;
}
.sobre{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size:26px;
    color: #f5f5f5;
    margin: 0;
    width: 200px !important;
}
.sobreMi{
    display:flex;
    justify-content: center;
    align-items: center;
}
.sobre:after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background: #cefe1a;
    margin: 10px auto 40px;
}
.sobreA{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size:26px;
    color: #f5f5f5;
    margin: 0;
    width: 200px !important;
}
.sobreA:after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background: #cefe1a;
    margin: 10px auto 40px;
}
.titulo-caja{
    font-family: "Poppins", sans-serif;
    color: #8e8e8e;
    margin: 0;
    padding-top: 18px;
    padding-bottom:18px;
    font-size: 23px;
}
.contenido{
    padding-left: 20px;
    padding-right: 20px;
}
.info{
    font-family: "Poppins", sans-serif;
    font-size:1.4rem;
    color: #f5f5f5;
    margin: 0;
}
.p-info{
    font-family: "Poppins", sans-serif;
    color: #8e8e8e;
    font-weight: bold;
    line-height: 30px;
}
.button--cta {
    background: #cefe1a;
    color: #191919;
    padding: 5px 30px;
    display: inline-block;
    line-height: 40px;
    margin: 20px auto;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
.conocimientos{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin-left: 1.5%;
}
.conocimientos div{
    width: 31%;
    height:90px;
    background: #191919;
    margin:0;
    margin-top:4px;
}
.skills i{
    font-size: 50px;
    color: #8e8e8e;
    padding-top: 4px;
}
.nombres{
    width: 100% !important;
    height: 20px !important;
    margin: 0;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #8e8e8e;
    font-weight: bold;
}
.mascota{
    font-family: "Poppins", sans-serif;
}
.jquery{
    margin-top: 0 !important;
}
@media(min-width:740px){
    .experienciaOcultar{
        display: block;
    }
    .experienciaCompu{
        margin: 0 auto!important;
    }
    .contenido{
        padding: 0!important;
    }
    .sistemas-operativos{
        width: 48%;
    }
    .ocultar{
        display: none;
    }
    .secciones{
        display: flex;
        flex-wrap: wrap;
    }
    .titulo-ingles{
        padding-bottom: 20px!important;
        padding-top: 20px!important;
    }
    .seccion5{
        width: 48%;
    }
    .seccion4{
        width: 48%;
        margin:0 !important;
    }
    .titulo-caja{
        font-size: 28px!important;
        width: 100%;
    }
    .p-info{
        font-size: 22px!important;
    }
    header{
        height: 72px;
    }
    .title{
        font-size: 35px!important;
    }
    .secciones{
        width: 100%;
    }
    .seccion1{
        display: flex;
        flex-wrap: wrap;
    }
    .seccion2{
        width: 48%;
    }
    .contenido{
        width: 46%;
    }
    .perfil {
        height: 400px !important;
        width: 360px !important;
        margin-top: 80px;
    }
    .hola {
        text-align: center;
        font-family: 'RocknRoll One', sans-serif;
        font-size: 40px;
        margin: 0;
        margin-top: 35px;
    }
    .stack{
        font-size: 42px;
    }
    .nombre {
        text-align: center;
        font-family: 'RocknRoll One', sans-serif;
        font-size: 40px;
        color: #cefe1a;
        margin: 0;
    }
    .desarrollador {
        text-align: center;
        font-family: 'RocknRoll One', sans-serif;
        font-size: 40px;
        color: #f5f5f5;
        margin: 0;
    }
    section{
        display:flex;
        flex-wrap: wrap;
    }
    .principal{
        width:50%;
    }
    
.informacion {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfil{
    height:300px;
    width:280px;
    margin-top: 80px;
}

.capa-imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}
.capa-imagen a{
    width: 90%;
    border: none;
    border-radius: 0px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color:#ffffff;
    background-color: rgb(122, 122, 122 , 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0);
    margin-bottom: 0;
}
.capa-imagen a:hover{
    color:#c1f700;
}
.titulo-proyectos{
    font-family: "Poppins", sans-serif;
    color: #8e8e8e;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 23px;
    text-align: center;
}
.descripcionProyecto{
    width:95%;
    border-radius:0px;
    line-height:25px;
    font-family: "Poppins", sans-serif;
    font-size:16px;
    border:0;
    color:#f5f5f5; 
    background-color: rgb(0, 0, 0 , 0.5);
    border-bottom-right-radius:15px;
    border-top-left-radius: 15px;
}
.contactos-icons a i{
    color:#8e8e8e;
    font-size: 30px;
    margin:10px;
}
.contactos-icons a{
    text-decoration: none;
}
.contactos-icons a i:hover{
    color:#cefe1a;
    font-size: 35px;
    margin:10px;
}
}